<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        @if (User.Identity.IsAuthenticated)
        {           
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#question" aria-expanded="false" aria-controls="question">
                    <i class="mdi mdi-comment-question-outline menu-icon"></i>
                    <span class="menu-title"> Sorular</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="question">
                    <ul class="nav flex-column sub-menu">                        
                        <li class="nav-item"> <a class="nav-link" href="/Admin/AddQuestion"> Yeni Soru Ekle </a></li>
                        <li class="nav-item"> <a class="nav-link" href="/Admin/QuestionList"> Soru Havuzu </a></li>
                        @if (User != null && User.IsInRole("Admin"))
                        {
                            <li class="nav-item"> <a class="nav-link" href="/Admin/UnApprovedQuestions"> Onay Bekleyen Sorular </a></li>
                        }
                        @if (User != null && User.IsInRole("Member"))
                        {
                            <li class="nav-item"> <a class="nav-link" href="/Admin/MyQuestionList"> Onay Bekleyen Sorularım </a></li>
                        }
                    </ul>
                </div>
            </li>
            @if (User != null && User.IsInRole("Member"))
            {
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#survey" aria-expanded="false" aria-controls="survey">
                    <i class="mdi mdi-format-list-numbers menu-icon"></i>
                    <span class="menu-title"> Anketler</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="survey">
                    <ul class="nav flex-column sub-menu">                        
                            <li class="nav-item"> <a class="nav-link" href="/Survey/MemberSurvey">Anket Oluşturma </a></li>
                            <li class="nav-item"> <a class="nav-link" href="/Survey/SurveyLink">Anket Cevaplama Girişi</a></li>                        
                    </ul>
                </div>
            </li>
            }
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#score" aria-expanded="false" aria-controls="score">
                    <i class="mdi mdi-file-chart menu-icon"></i>
                    <span class="menu-title">Skorlar</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="score">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/Score/Index">Skor Tablosu</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/SignOut">
                    <i class="mdi mdi-logout menu-icon"></i>
                    <span class="menu-title">Çıkış Yap</span>
                </a>
            </li>
        }
    </ul>
</nav>
