@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/Shared/_HeadPartial.cshtml")
@await RenderSectionAsync("Styles", required: false)
<body>
    <div class="container-scroller">
        <!-- partial:~/webtheme/Triangle/partials/_navbar.html -->
        @await Html.PartialAsync("/Views/Shared/_NavHeaderPartial.cshtml")        
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:~/webtheme/Triangle/partials/_sidebar.html -->
            @await Html.PartialAsync("/Views/Shared/_MenuPartial.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:~/webtheme/Triangle/partials/_footer.html -->
                @await Html.PartialAsync("/Views/Shared/_FooterPartial.cshtml")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    @await Html.PartialAsync("/Views/Shared/_ScriptPartial.cshtml")
</body>
</html>
