@model SurveySystem.Models.UserSignInModel
@{
    Layout = null;
}
<style>
    #background_img {
  background-image: url('/webtheme/Triangle/images/questions.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* İstenirse diğer arka plan özellikleri de burada ayarlanabilir */
  width: 100%;
  height: 100%;
}
</style>
<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/Shared/_HeadPartial.cshtml")
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row flex-grow">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        <div class="auth-form-transparent text-left p-3">
                            <div class="brand-logo">
                                <img src="~/webtheme/Triangle/images/surveylogo.jpg" alt="logo">
                            </div>
                            <h4>Hoşgeldiniz!</h4>
                            <h6 class="font-weight-light">Seni tekrar gördüğüme sevindim!</h6>
                            <form asp-action="SignIn" method="post" class="pt-3">
                                <!-- Kullanıcı bulunamadığında gösterilecek uyarı -->
                                <div class="text-danger">@Html.ValidationMessage("UserNotFound")</div>
                                <!-- Kullanıcı adı veya şifre yanlış girildiğinde gösterilecek uyarı -->
                                <div class="text-danger">@Html.ValidationMessage("SignInError")</div>
                                <div class="form-group">
                                    <label asp-for="Email">E-posta Adresi:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="mdi mdi-account-outline text-primary"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Email" type="text" class="form-control form-control-lg border-left-0" placeholder="E-posta Adresi">                                       
                                    </div>
                                </div>
                                <!-- E-posta girilmediğinde gösterilecek uyarı -->
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <div class="form-group">
                                    <label asp-for="Password">Şifre</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="mdi mdi-lock-outline text-primary"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Password" type="password" class="form-control form-control-lg border-left-0" placeholder="Şifre">
                                       
                                    </div>
                                </div>
                                <!-- Şifre girilmediğinde gösterilecek uyarı -->
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div class="my-3">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Giriş Yap</button>
                                    <a asp-action="NonMemberSurvey" asp-controller="Survey" class="btn btn-block btn-success btn-icon-text">
                                        <i class="mdi mdi-book-plus btn-icon-prepend"></i>
                                        Üye Olmadan Anket Oluştur
                                    </a>
                                    <a asp-action="SurveyLink" asp-controller="Survey" class="btn btn-block btn-info btn-icon-text">
                                        <i class="mdi mdi-format-list-numbers btn-icon-prepend"></i>
                                        Anket Cevapla
                                    </a>
                                </div>                               
                                <div class="text-center mt-4 font-weight-light">
                                    Hesabınız Yok Mu? <a asp-area="" asp-controller="Home" asp-action="SignUp" class="text-primary">Kayıt Ol</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="background_img" class="col-lg-6 login-half-bg d-flex flex-row" >
                        <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018  All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("/Views/Shared/_ScriptPartial.cshtml")
</body>
</html>


