@model SurveySystem.Models.Survey
@{
    ViewData["Title"] = "SurveyLink";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@section Styles{
    <style>
        .btn {
            font-size: 14px;
            padding: 5px 10px;
        }

        h4 {
            text-align: center;
        }

        .toast-error {
            background-color: brown;
            color: white;
        }

        .toast-warning {
            background-color: darkorange;
            color: white;
        }

        .toast-success {
            background-color: darkgreen;
            color: white;
        }
    </style>
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // $("#startSurvey").click(function () {
            //     var uniqueId = $("#UniqueId").val();
            //     // surveyUrl değerini kullanarak anket sayfasına yönlendirme işlemi yapabilirsiniz.
            //     // Örneğin:
            //     window.location.href = "/Survey/AnsweringSurvey/" + uniqueId;
            // });
            $("#startSurvey").click(function () {
                var uniqueId = $("#UniqueId").val();
                var surveyId = parseInt($("#startSurvey").attr("data-surveyId")); // Veri özniteliği üzerinden surveyId'yi alın

                $.ajax({
                    type: "GET",
                    url: "/Survey/AnsweringSurvey/" + uniqueId,// API URL'nizi buraya ekleyin
                    data: { uniqueId: uniqueId, surveyId: surveyId }, // Parametreleri gönderin
                    success: function (result) {
                        if (result.error) {
                            // Özel JSON yanıtında hata varsa
                            toastr.error(result.error);
                        } else {
                            // Anketi başlatma işlemine devam et
                            window.location.href = "/Survey/AnsweringSurvey/" + uniqueId;
                        }
                    },
                    error: function (error) {
                        toastr.error("Anket için girdiğiniz URL linki hatalı!");
                    }
                });
            });

        });
    </script>
}

@if (!string.IsNullOrEmpty(ViewBag.SurveyMessage))
{
    <div class="alert alert-warning">
        @ViewBag.SurveyMessage
    </div>
}
else
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ankete Giriş Sayfası</h4>
                <p class="card-description">
                    Ankete giriş yapabilmek için sizinle paylaşılan URL'i aşağıdaki alana giriniz.
                </p>
                <div class="form-group">
                    <label for="UniqueId">Anket URL'i</label>
                    <input type="text" class="form-control" id="UniqueId" placeholder="Anket URL'i">
                </div>
                <button type="button" class="btn btn-info btn-icon-text" id="startSurvey" data-surveyId="@Model.Id">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Gönder
                </button>
            </div>
        </div>
    </div>
}