@model SurveySystem.Models.Question
@{
    ViewData["Title"] = "AddQuestion";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Soru Ekleme</h4>
            <p class="card-description">
                Yeni Soru Ekleme
            </p>
            <form asp-action="AddQuestion" method="post" class="forms-sample">
                <div class="form-group">
                    <label asp-for="QuestionText">Soru Metni</label>
                    <input asp-for="QuestionText" type="text" class="form-control" placeholder="Soru Metni">
                    <span asp-validation-for="QuestionText" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Option1">1. Seçenek:</label>
                    <input asp-for="Option1" class="form-control" placeholder="Lütfen 1. seçeneği giriniz." />
                    <span asp-validation-for="Option1" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Option2">2. Seçenek:</label>
                    <input asp-for="Option2" class="form-control" placeholder="Lütfen 2. seçeneği giriniz." />
                    <span asp-validation-for="Option2" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Option3">3. Seçenek:</label>
                    <input asp-for="Option3" class="form-control" placeholder="Lütfen 3. seçeneği giriniz." />
                    <span asp-validation-for="Option3" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Option4">4. Seçenek:</label>
                    <input asp-for="Option4" class="form-control" placeholder="Lütfen 4. seçeneği giriniz." />
                    <span asp-validation-for="Option4" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Option5">5. Seçenek:</label>
                    <input asp-for="Option5" class="form-control" placeholder="Lütfen 5. seçeneği giriniz." />
                    <span asp-validation-for="Option5" class="text-danger"></span>
                </div>
                @* <label>Sorunun doğru cevabını işaretleyiniz</label>
                <div class="form-group row mb-2">
                    <div class="col-sm-2">
                        <div class="form-check form-check-success">
                            <label class="form-check-label"><input type="radio" asp-for="CorrectOption" value="1" class="form-check-input" /> 1. Seçenek</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check form-check-success">
                            <label class="form-check-label"><input type="radio" asp-for="CorrectOption" value="2" class="form-check-input" /> 2. Seçenek</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check form-check-success">
                            <label class="form-check-label"><input type="radio" asp-for="CorrectOption" value="3" class="form-check-input" /> 3. Seçenek</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check form-check-success">
                            <label class="form-check-label"><input type="radio" asp-for="CorrectOption" value="4" class="form-check-input" /> 4. Seçenek</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check form-check-success">
                            <label class="form-check-label"><input type="radio" asp-for="CorrectOption" value="5" class="form-check-input" /> 5. Seçenek</label>
                        </div>
                    </div>                   
                </div>
                <div class="form-group">
                    <span asp-validation-for="CorrectOption" class="text-danger"></span>
                </div> *@
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>

